[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-vscode"]
	path = dotbot-vscode
	url = https://github.com/LiquidPL/dotbot-vscode
	ignore = dirty
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug
	ignore = dirty
[submodule "zinit"]
	path = zinit
	url = https://github.com/zdharma/zinit.git
	ignore = dirty
